pyyaml
bleak
requests
PySimpleGUI==4.60.5
buttplug
pyserial
git+https://github.com/pybluez/pybluez.git#egg=pybluez
flask
requests-oauthlib
opencv-contrib-python
dxcam
readwritememory
pillow
pywin32
